<div class="title-page">
<h2 class = "title">Registeration</h2>
<hr>
</div>
  <div   class = "login-container" style = "margin-left:0% !important;">
    <div class="span6">

      <div class="tabbable">

            <ul class="nav nav-tabs" id="myTab">
                <li class="active"><a href="#tab1" data-toggle="tab">As a client</a></li>
                <li><a href="#tab2" data-toggle="tab">As a business provider</a></li>
            </ul>

            <div class="tab-content" style = "width:1760px;height:800px;">
                <div class="tab-pane fade in active" id="tab1">

                </div>
                <div class="tab-pane fade in" id="tab2">

            </div>

    </div>
    </div>
  </div>
</div>
