<div id="work" class="page">

<div id="work" class="page">
	<div class="container">
    	<!-- Title Page -->
        <div class="row">
            <div class="span12">
                <div class="title-page">
                    <h2 class="title">Esm el platform.com</h2>
                    <h3 class="title-description"> Suggested outings. </h3>
                </div>
            </div>
        </div>
        <!-- End Title Page -->

        <!-- Portfolio Projects -->
       
        <!-- End Portfolio Projects -->
    </div>
</div>

<!-- End About Section -->


<!-- Contact Section -->
<div id="edit" class="page">
<div class="container">
    <!-- Title Page -->
    <div class="row">
        <div class="span12">
            <div class="title-page">
                <h2 class="title">Search For Business</h2>
                <h3 class="title-description"> :) </h3>
            </div>
        </div>
    </div>
    <!-- End Title Page -->

    <!-- Contact Form -->
    <div id="search" class="page">
    <div class="row">
    	<div class="span3">
        	<div class="contact-details">
        		<h3>Search</h3>
                <ul>
                   
                    <li></li>
                    <li>
                        
                        <br>
                        5240 Vanish Island. 105
                        <br>
                        Unknow
                    </li>
                </ul>
            </div>
        </div>

      <div class="span9">
<!--edit P form -->
     <!--   	<form (submit)="onBpSearch()" id="contact-form" class="contact-form" >
            	<p class="contact-Uname">
            		<input id="contact_Uname" type="text" [(ngModel)]="businessName" placeholder="Search for Business" value="" name="businessName" />
                </p>
              
                <p class="contact-submit">
                	<!--a id="contact-submit" class="submit" href="#">Save Your Changes</a-->
            <!--      <input type ="submit" class = "submit" value = "Search">
                </p>

                <div id="response">

                </div>
      
<!--/end form -->
<!-- EL SEARCH BT3T EL Business provider -->
       <form  id="filter">
           <label> Filtered list: </label>
            <input id="contact_Uname" type="text" [(ngModel)]="businessName" />
       </form>

       <!-- DA EL FILTERING PARTTT 
<ul id="business-listing">
    <li *ngFor="let Business | filter:businessName">
        
    </li>
</ul>
LEHAAD HENA -->
    </div>
    </div>
    <!-- End Contact Form -->
</div>
</div>
<!-- End Contact Section -->